@{
    ViewData["Title"] = "系统登陆";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/login/images/favicon.ico" />
    <title>系统登陆</title>
    <link href="~/login/styles.css" type="text/css" media="screen" rel="stylesheet" />
    <link href="~/login/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <script src="~/login/jquery-1.6.2.min.js"></script>
    <script src="~/login/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/login/jquery.keyboard.extension-typing.js"></script>
    <link type="text/css" href="~/login/keyboard.css" rel="stylesheet" />
    <script type="text/javascript" src="~/login/jquery.keyboard.js"></script>
</head>
<body id="login">
    <div id="wrappertop">
    </div>
    <div id="wrapper">
        <div id="content">
            <div id="header">
                <h1>
                    <a href="">
                        <!--؅׃Logo <img src="logo.png"   height="50"  width="100"  alt="logo">-->
                    </a>
                </h1>
            </div>
            <div id="darkbanner" class="banner320">
                <h2>
                    管理员登陆
                </h2>
            </div>
            <div id="darkbannerwrap">
            </div>
            <form name="form1" method="post" action="Login">
                <fieldset class="form">
                    <p>
                        <label class="loginlabel" for="user_name">
                            用户名:
                        </label>
                        <input class="logininput ui-keyboard-input ui-widget-content ui-corner-all" name="Email"
                               id="Email" type="text" value="" />
                    </p>
                    <p>
                        <label class="loginlabel" for="Password">
                            密码:
                        </label>
                        <span>
                            <input class="logininput" name="Password" id="Password" type="password" />
                            <img id="passwd" class="tooltip" alt="点击,弹出虚拟键盘" title="点击,弹出虚拟键盘"
                                 src="~/login/keyboard.png" />
                        </span>
                    </p>
                    <button id="loginbtn" type="button" class="positive" name="Submit">
                        <img src="~/login/key.png" alt="登陆" />登陆
                    </button>
                    <ul id="forgottenpassword">
                        <li class="boldtext">|</li>
                        <li>
                            <input type="checkbox" name="remember" id="rememberMe">
                            <label for="rememberMe">保持登录</label>
                        </li>
                    </ul>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Password').keyboard({
                openOn: null,
                stayOpen: true,
                layout: 'qwerty'
            }).addTyping();
            $('#passwd').click(function () {
                $('#Password').getkeyboard().reveal();
            })

            $("#loginbtn").click(function () {
               var k = 0;
               var ajaxhtml = "";
               $(".logininput").each(function (i, obj) {
                   if ($(obj).val().trim() == "") {
                       k++;
                       $(this).css("border-color", "red");
                       $(this).focus();
                       return false;
                   }
               });
               if (k != 0) return;
               ajaxhtml = $("#loginbtn").html();
               $("#loginbtn").html("Loading....  <img src='../../login/loading.gif' alt='Announcement' /> ");
               $("#loginbtn").attr("disabled", "disabled");

               $.ajax({
                   url: '@Url.Action("Login","Account")',
                   type: 'post',
                   data: {
                       Email: $.trim($("#Email").val()),
                       Password: $.trim($("#Password").val()),
                       RememberMe: $("#rememberMe").val() == "on" ? true : false,
                       returnUrl:"http://localhost:62549/"
                   },
                   fail: function (o) {
                       
                   }
               });
           })
        });
    </script>
</body>
</html>